# Distribution / packaging
.Python
env/
venv
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# Node modules directory
/node_modules

# Python cache
__pycache__
.python-version

# Dynamodb local directories
.dynamodb

# S3 local directories
.s3-buckets